@font-face {
  font-family: 'icomoon';
  src:  url('../fonts');
  src:  url('../fonts#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?7vu7qq') format('truetype'),
    url('../fonts/icomoon.woff?7vu7qq') format('woff'),
    url('../fonts/icomoon.svg?7vu7qq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cart:before {
  content: "\e93a";
}
.icon-user:before {
  content: "\e971";
}
.icon-search:before {
  content: "\e986";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-close:before {
  content: "\ea0d";
}
.icon-cross:before {
  content: "\ea0f";
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/*<---------- header ----------->*/

.header {
  background-color: #1c3643;
  height: auto;
  min-height: 59px;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.letter {
  font-size: 40px;
  font-weight: bold;
  font-family: sans-serif;
  font-family: 'Merienda', cursive;
  transform: skew(-7deg);
}
.letter.second {
  color: blue;
}
.letter.first {
  color: #34fafa;
  font-size: 50px;
}
.logo-name {
  font-size: 15px;
  font-family:'Anton', sans-serif;
  align-self: flex-end;
}
.logo {
  /* border: 1px solid blue; */
  color: blue;
  height: 59px;
  display: inherit;
  align-items: center;
  /* justify-self: flex-start; */
}
.img {
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  height: inherit;
  width: 95px;
  /* background-color: #1c3643c9; */
  font-size: 22px;
  color: white;
  /* border: 1px solid red; */

  margin: 0;
  padding-bottom: 10px;
}
.dudas.oxxo {
  background-color: #ec0000d1;
  cursor: pointer;
}
.sub-title {
  margin: 0;
  padding: 0;
  font-size: 2px;
  flex-shrink: 0;
}
.menu {
  /* border: 1px solid red; */
  display: inherit;
  align-items: center;
  font-size: 18px;
}
.w:hover {
  background-color: rgba(5, 183, 199, .89);
  position: relative;
}
.w:hover .options {
  display: flex;
}
.options {
  display: none;
  justify-content: space-between;
  border-radius: 3px;
  border-top-left-radius: 0;

  position: absolute;
  width: auto;
  /* height: 100px;  */
  padding: 5px 30px 25px 10px; 

  background-color: rgba(5, 183, 199, .89);
  z-index: 2;
  margin-top:5px;
  margin-left: -5px;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}
.submenu-title {
  /* margin-bottom: 2px; */
}
.options a {
  list-style: none;
  color: white;
  text-decoration: none;
  padding: 5px;
  text-align: center;
  font-size: .8em;
}
.ropa:nth-of-type(1) {
  width: 200px;
}
.ropa:nth-of-type(4) {
  width: auto;
}
.border {
  margin: 9px 0;
  border-right: 1px solid;
}
.categorias {
  display: grid;
  grid-template-columns: repeat(2, minmax(220px, 260px));
}
.suplementos {
  padding-left: 10px;
}
ul {
  display: inherit;
  align-items: center;

  
}
li {
  display: block;
}
li, .li-menu {
  list-style: none;
  color: white;
  text-decoration: none;
  padding: 5px;
  height: inherit;
  margin: 0;
}
.li-menu {
  font-family: 'Permanent Marker', cursive;
  font-size: 1.3em;
  align-items: center;
}
li a:hover {
  color: red;
}
.buscador::before {
  display: block;
  position: absolute;
  content: '\f002';
  font-family: "FontAwesome";
  font-size: 20px;
  color: rgb(74, 74, 74, .85);
  padding: 3px;
  right: 10%;
}

.buscador {
  height: 59px;
  display: inherit;
  align-items: center;
  position: relative;
}

.buscador-input {
  height: 35px;
  max-width: 205px;

  font-size: 22px;
  padding: 6px 24px;
  border: 1px solid #1e5372;
  border-radius: 6px;
  box-shadow: inset 0 -.2em rgb(0, 0, 0, .2);
  outline: 0;
}
.dudas {
  cursor: pointer;
  height: auto;
  padding: 7px;
  background-color: #0000ffa1;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  /* font-weight: bold; */
  font-size: .8em;
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
}
/*<-------------- Portada ----------> */

.hero {
  height: 500px;
  background-image: url('../images/backgrounds/paisaje.jpg');
  background-size: cover;
  object-fit: cover;
  position: relative;
  background-position-y: -110px;
  background-repeat: no-repeat;
  

  display: flex;
  justify-content: center;
  align-items: center;
  background-blend-mode: multiply;
}
.hero-image {
  /* width: 100%; */
  object-fit: cover;
  animation: pulso 3s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  will-change: opacity;
  -webkit-animation: pulso 3s alternate infinite;
}

@keyframes pulso {
  0% {
    opacity: 0;
  }
  30% {
    opacity: .8;     
  }
  80% {
    opacity: .8;
  } 
  100% {
    opacity: 0;
  }
}


/*<-------------- contenido ----------> */
.container-clothing {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 293px));
  justify-content: center;
  grid-gap: 28px;
  margin-bottom: 5px;
  position: relative;
}
.article {
  cursor: pointer;
  display: block;
  position: relative;
  border-radius: 9px;
  /* border:1px solid blue; */
}
.post-image {
  margin: 0;
}
.post-image img {
  width: 100%;
  max-height: 265px;
  vertical-align: top;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.title {
  text-align: center;
}
.info {
  background-color: rgba(0, 0, 0, .39);
  padding: 10px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.price {
  margin-top: 0;
  text-align: center;
}
.desc {
  margin: 0;
  text-align: center;
}
.marca {
  text-align: center;
  font-weight: bold;
  color: blue;
  /* margin-bottom: 5px;  */
}

/*<-------------- contenido ----------> */
.header-title {
  display: flex;
  justify-content: center;
  color: white;
  padding-top: 20px;
}
.banners {
  display: grid;
  grid-template: 280px / 1fr 1fr 1fr 1fr;
  grid-template-areas: "protein quemadores ropa woman";
  width: 100%;
  height: auto;
  position: sticky;

}
.banner {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  background-size: cover;
  background-repeat: no-repeat;
}
.protein {
  grid-area: protein;
  
  /* background-image: url(https://yt3.ggpht.com/a-/AAuE7mCZLbzOC1VvzsHJdN0WpJNixtA2eV_oJhdQuw=s900-mo-c-c0xffffffff-rj-k-no); */
  background-image: url(https://www.greatestphysiques.com/wp-content/uploads/2016/07/Jeff-no7-779x1024.jpg);
  background-color: rgba(0, 222, 255, 0.62);
  background-blend-mode: multiply;
  background-position-y: -10px;

}

.banner-title {
  color: white;
  font-size: 1.5em;
}

.quemadores {
  grid-area: quemadores;
  background-image: url(https://www.sportlife.com.mx/wp-content/uploads/2018/06/beneficios-entrenar-pareja.jpg);
  background-color: gray;
  background-blend-mode: multiply;
  
  background-position-x: -70px;
}

.clothing {
  grid-area: ropa;
  background-image: url(https://c.stocksy.com/a/iZ3400/z9/967058.jpg);
  background-color: gray;
  background-blend-mode: multiply;
  padding-right: 110px;
  background-position-x: -30px;
}
.woman {
  grid-area: woman;
  background-color: #ff7bc4e0;
  background-image: url(https://i.pinimg.com/originals/7d/8e/28/7d8e28be37bb819ef471d4ba29eaf4f1.jpg);
  background-blend-mode: multiply;
  background-position-x: right;
  /* padding-right: 110px; */
  /* background-position-y: 10px; */
}
.popular-brands-supplements {
  height: auto;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 10px 0 75px 0;
}
.popular-title {
  padding: 20px 0 0;
  font-size: 24px;
  font-weight: bold;
}
.box-brands {
  max-width: 1100px;
  display: flex;
  height: auto;
  justify-content: center;
  align-items: center;
}
.img-tumbnail {
  height: 100px;
  margin: 0 10px;
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  /* border: 1px solid blue; */
}
.img-brands {
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  width: 125px;
  border-radius: 6px;
  height: inherit;
  margin: 0 20px;
}
.img-brands:nth-last-of-type(odd) {
  object-fit: fill;
  /* padding-right: 2px; */
}
.carousel-inner {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 6px;
  margin:20px 0;
}
.row {
  margin-top: 10px;
  width: 313px;
  height: 280px;
  /* background-color: #45df26; */
  border-right: 1px solid #d0c8c8;
  padding: 0 50px 0 0;
  /* border: 1px solid red; */
}
.row:nth-last-of-type(1) {
  border: none;
}
.row p {
  text-align: center;
}
.payment-form {
  font-family: Helvetica, Arial, sans-serif;
  display: inherit;
  flex-direction: column;
}
.img-container {
  height: 120px;
  display: flex;
  justify-content: center;
  background-size: cover;
}
.site-info {
  /* font-size: 1.8em; */
  text-align: center;
  margin-bottom: 0;
}
.site-info-link {
  color: blue;
  font-size: 1.2em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  display: flex;
  justify-content: center;
}

.footer {
  color: white;
  background-color: #1c3643;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form {
  display: flex;
  flex-direction: column;
}
.footer-title {
  font-size: 1.1em;
}
.footer-description {
  font-size: .8em;
}
.container {
  width: 660px;
  padding: 40px 10px;
  /* border: 1px solid red; */
}
.form input, button {
  width: auto;
  margin: 5px;
  font-size: 1.2em;
  border: 1px solid #d7d6d6;
  border-radius: 4px;
  padding: 7px;
  margin-left: 0;
  outline: 0;
}
.form button {
  background-color: #2db6c9;
  color: white;
  cursor: pointer;
  border-color: #2db6c9;
}
.footer-bottom {
  /* border: 1px solid yellow; */
  height: auto;
  display: flex;
  margin-right: 4px;
  justify-content: space-between;
}
.social-networks {
  height: 60px;
  border-bottom: 1px solid #577483;
  padding-bottom: 5px;
  display: flex;
  justify-content: center ;
  align-items: center;
}
.social-link {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  margin: 0 10px;
  /* background-size: cover; */
}
.facebook {
  background-image: url(../images/svg/facebook.svg);
}
.instagram {
  background-image: url(../images/svg/instagram.svg);
}
.footer-marca {
  display: flex;
  justify-content: center;
}
.footer-marca p {
  font-size: .6em;
  text-align: center;
}
/*Bottones de hamburguese*/
.burguer-button {
  display: none;
  text-align: center;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  background: #1e5372;
  position: fixed;
  font-size: 18px;

  cursor: pointer;
  position: absolute;
  left: 20px;
  top: 20px;
  z-index: 5;
}
/*Bottones de hamburguese*/
@media screen and (max-width: 1100px) {
  .hero {
    background-position-y: 0;
  }
}
@media screen and (max-width: 768px) {
  .row {
    padding: 0;
  }
  .post-list {
    grid-gap: 3px;
  }
  .buscador {
    width: auto;
  }
  .dudas {
    height: auto;
    padding: 10px;
  }
  
  .header {
    font-size: .8em;
    height: auto;
    display: inline-flex;
    flex-wrap: wrap;
    padding: 20px 0;
    flex-wrap: wrap;
  }
  .menu {
    flex-wrap: wrap;
  }
  /* .hero {
    margin-bottom: 4px;
    flex-wrap: wrap;
  } */
  .box-brands {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .img-tumbnail {
    padding: 16px 0;
  }
  .carousel-inner {
    flex-wrap: wrap;
  }
  .row {
    border: none;
  }
  .row:nth-last-of-type(3) {
    border-right: 1px solid #d0c8c8;
  }
  .banners {
    /* grid-template: 280px / 1fr 1fr 1fr 1fr;
    grid-template-areas: "protein quemadores ropa woman"; */
    grid-template-columns: 1fr;
    grid-template-rows: 300px 300px 300px 300px;
    grid-template-areas: "protein"
                        "quemadores"
                          "ropa"
                          "woman"; 
  }
  .protein {
    background-position-y: 0px;
    background-position-x: 150px;
    background-size: contain;
    object-fit: cover;
  }
  .quemadores {
    background-position-x: 0;
    background-position-y: -60px;
  }
  .clothing {
    background-position-x: 0;
    background-position-y: -75px;
  }
  .woman {
    /* background-size: contain; */
    background-size: 50%;
    background-position-x: center;

  }
}
@media screen and (max-width: 630px) {
  .container-clothing {
    grid-template-columns: repeat(2, minmax(100px, 1fr));
  }
  .menu {
    justify-content: center;
  }
  .row:nth-last-of-type(3) {
    border-right: none;
  }
  .protein {
    background-position-x: 0;
  }
  .quemadores {
    background-position-y: 0px;
  }
  .clothing {
    background-position-y: 0;
  }
  .woman {
    background-size: cover;
    background-position-x: center;
  }
}
@media screen and (max-width:500px) {
  .buscador::before  {
    right: 20%;
  }
  .categorias {
    display: flex;
    flex-direction: column;
  }
  .ropa:first-child {
    width: 100%;
  }
  .options {
    font-size: .8em;
  }
  .options h3 {
    display: none;
  }
  .w:hover .options {
    position: static;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .options.active {
    background-color: red;
    display: flex;
  }
  .burguer-button {
    display: inline-block;
    font-size: 18px;
    position: fixed;
  }
  .header {
    flex-direction: column;
  }
  .logo {
    justify-content: center;
  }
  .popular-brands-supplements {
    margin: 0;
  }
  .row {
    max-width: 270px;
  }
  .hero-image {
    width: 100%; 
  }
  .menu {
    background-color: rgb(45, 182, 201, .8) !important;
    
    display: flex;
    flex-direction: column;
    width: 100%;

    position: fixed;
    left: -110%;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 3;
    padding: 10px 0;
  }

  .menu.active {
    z-index: 3;
    left: 0;
    transition: .3s;
    /* background-color: rgb(45, 182, 201, .8) !important; */
  }
  .menu.active:hover {
    position: initial;
  }
  .buscador {
    justify-content: center;
    position: static;
  }
  
  .menu li {
    text-align: center;
    width: 100%;
    border-bottom: 1px solid white;
    padding: 10px 0; 
  }
  .menu li:first-child {
    border-top: 1px solid white;
  }
}
@media screen and (max-width:350px) {
  .container-clothing {
    grid-template-columns: repeat(1, minmax(100px, 1fr));
  }
  .img-brands {
    width: 100px;
    height: 100px;
    margin: 0 10px;
  }
  .row {
    height: auto;
    padding-right: 0;
  }
  .clothing {
    background-position-x: -55px;
  }
  .quemadores {
    background-position-x: -116px;
  }
}
